html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;  
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.DropArea {
  background: #efefef; 
  display: flex;
  align-items: center;
  justify-content: center; 
  width: calc(80vw - 80px);
  height: calc(80vh - 80px);
  border: solid 40px transparent;
  transition: all 250ms ease-in-out 0s;
  position: relative; 
  margin-top: 5rem;
}

.Status {
  background: transparent; 
  display: block;
  font-family: 'Helvetica', Arial, sans-serif;
  color: black;
  font-size: 60px;
  font-weight: bold;
  text-align: center;  
  line-height: calc(80vh - 80px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 250ms ease-in-out 0s; 
}